/* ! FONTS */
/* ? Headings, Call-to-actions, Header Navigation */
/* * font-family: 'Raleway', sans-serif; */
/* ? Body */
/* * font-family: 'Open Sans', sans-serif; */

:root {
    --heading-font: 'Raleway', sans-serif;
    --body-font: 'Open Sans', sans-serif;
    
    --intro-bg: hsl(217, 28%, 15%);
    --main-bg: hsl(218, 28%, 13%);
    --footer-bg: hsl(216, 53%, 9%);
    --testimonials-bg: hsl(219, 30%, 18%);
    
    --cyan: hsl(176, 68%, 64%);
    --blue: hsl(198, 60%, 50%);
    --error: hsl(0, 100%, 63%);
    --white: hsl(0, 0%, 100%);
}

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin:0;
}




html {
    font-size: 16px;
    font-family: var(--body-font);
    color: var(--white);
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-bg);
}

/* ! FONT STYLING */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}

h1 {
   font-size: 1.5rem;
}

h2 {
    font-size: 1.125rem;
}

p {
    font-size: 0.875rem;
    line-height: 1.3125rem;
}

a:link, a:visited {
    text-decoration: none;
    color: var(--white);
}

.btn {
    background: linear-gradient(to right, var(--cyan), var(--blue));
    border-radius: 1.5rem;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
    border-style: none;
    color: var(--white);
    font-weight: 700;
}



.intro {
    /* background-color: var(--intro-bg); */
    padding-top: 1.5rem;
    position: relative;
}



.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 1.5rem;
    width: 90%;
    margin: 0 auto;
    z-index: auto;
}

.header-logo {
    align-self: middle;
    width: 5rem;
}

.nav-list {
    list-style: none;
}

.nav-item {
    display: inline-block;
    font-size: 0.875rem;
    margin: 0 0.25rem 0 1.25rem;
}

.intro-content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    max-width: 720px;
    z-index: 2;
}

.intro-content::after {
    position: absolute;
    content: "";
    height: 67%;
    background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100%;
    background-image: url(../images/bg-curvy-mobile.svg);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-color: var(--intro-bg);
}

.intro-graphic {
    margin: 3rem auto 1rem;
    z-index: 2;
}

.intro-heading {
    margin: 1rem auto 1rem;
    z-index: 2;
}

.intro-text {
    margin: 0.5rem auto 1rem;
    z-index: 2;
}

.intro-btn {
    margin: 1rem auto 0;
    padding: 1rem 5.0625rem;
    z-index: 2;

}

.intro-graphic,
.productive-graphic {
    max-width: 100%;
}

.features {
    align-items:end;
    margin: 7.5rem auto;
    max-width: 880px;
    text-align: center;
    width: 85%;
}

.feature {
    padding: 2.5rem 0;
}

.feature-heading {
    margin: 1.5rem auto .5rem;
}

.productive {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.productive-graphic {
margin-bottom: 3rem;
}

.productive-text {
    margin: 1rem 0;
}

.productive-link {
    font-size: .75rem;
    border-bottom:1px solid hsl(176, 68%, 64%);
    padding-bottom: 0.375rem;
    color: hsl(176, 68%, 64%);
}

.productive-link:link, .productive-link:visited {
    color: hsl(176, 68%, 64%)
}

.arrow {
    height: 0.75rem;
    vertical-align: middle;
}

.testimonials {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 10rem;
    
}



.testimony {
    position: relative;
    background-color: var(--testimonials-bg);
    padding: 1.5rem 1.25rem;
    margin: .75rem 3rem;
    z-index: 2;
}

.testimony:first-of-type::before {
    content: url(../images/bg-quotes.png);
    height: 1.5rem;
    position: absolute;
    top: -18px;
    bottom: 0;
    left: 5px;
    right: 0;
    z-index: 1;
}

.testimony-content {
    font-size: 0.625rem;
    line-height: 1.125rem;
    
}

.test-info {
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    margin-top: 1rem;
}

.test-image {
    height: 1.5rem;
    border-radius: 100%;
    margin-right: 0.5rem;
    align-self: center;
}

.user-info {
    align-self: center;
}
.test-user {
    font-size: 0.625rem;
    line-height:1.3125rem;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.test-title {
    font-size: 0.5rem;
    line-height:0.625rem;
    letter-spacing: 0.57px;
    
}

.early-access {
    background-color: var(--intro-bg);
    margin-top: 10rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 2.5rem 1.75rem;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.254274);
    border-radius: 9px;
    position: relative;
}

.early-access > h2 {
    margin-bottom: 1rem;
}



.sign-up {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
}

.access-input {
    padding: 1rem 0 1rem 1.5rem;
    box-shadow: 1px 1px 3px rgba(7, 4, 59, 0.157043);
    border-radius: 24px;
    border-style: none;
}
.access-btn {
    padding: 1rem 0;
    border-style: none;
}

.footer {
    background-color: var(--footer-bg);
    margin-top: -11rem;
    padding-top: 17rem;
    max-width: 1280px;
}

.footer-wrapper {
    height: 100%;
}

.footer-logo {
    width: 108px;
    height: 31px;
    margin-left: 2.5rem;
}

.footer-nav {
    margin: 1rem 0.75rem 0;
}

.footer-contact {
    border-spacing: 1rem;
}

.footer-contact td {
    vertical-align: top;
}

.footer-contact td:last-of-type {
    margin-left: 1rem;
}

.footer-nav-links {
    list-style: none;
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.footer-nav-links li {
    margin-top: 1rem;
}

.social-links {
    text-align: center;
    padding-bottom: 3rem;
    
}

.social-links i {
    font-size: 1.75rem;
    margin: 0.5rem;
}

footer {
    display: none;
}
