/* STYLE INFO ----------- */
/* ---------------------- */
/* FONT ----------------- */
/* font-family: "Open Sans", sans-serif; */
/* font-family: "Raleway", sans-serif; */
/* ---------------------- */
/* COLOR ---------------- */
/* PRIMARY -------------- */
/* Dark Blue (intro and email sign up background): hsl(217, 28%, 15%) */
/* Dark Blue (main background): hsl(218, 28%, 13%) */
/* Dark Blue (footer background): hsl(216, 53%, 9%) */
/* Dark Blue (testimonials background): hsl(219, 30%, 18%) */
/* ACCENT -------------- */
/* Cyan (inside call-to-action gradient): hsl(176, 68%, 64%) */
/* Blue (inside call-to-action gradient): hsl(198, 60%, 50%) */
/* NEUTRAL ------------- */
/* White: hsl(0, 0%, 100%) */
/* --------------------- */

/* OVERALL STYLING ------ */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}

html {
  background-color: hsl(218, 28%, 13%);
  color: hsl(0, 0%, 100%);
}

.clearfix {
  overflow: hidden;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

header,
section,
footer {
  border: 1px dashed #fff;
}

/* HEADER STYLING ------ */

header {
  padding: 20px 20px 0px;
  margin: 0 auto;
}

.header-logo {
  float: left;
  height: 25px;
  width: auto;
}
nav {
  float: right;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  padding: 0 10px;
}

nav a,
nav a:link,
nav a:hover,
nav a:active,
nav a:visited {
  font-size: 90%;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.hero-box {
  width: 100%;
  padding: 75px 15px;
}

.hero-box img {
  width: 100%;
}

h1 {
  padding: 20px 0;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
}

p {
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.2px;
  font-family: "Open Sans", sans-serif;
}

.btn:link,
.btn:hover,
.btn:active,
.btn:visited,
#early-access input[type="submit"] {
  display: block;
  width: 250px;
  margin: 30px auto 0;
  padding: 15px 80px;
  background: linear-gradient(135deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  border-radius: 30px;
  text-decoration: none;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  letter-spacing: 0.33px;
}

/* FEATURE STYLING ---- */

#features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2rem;
  align-items: top;
  padding: 50px 0px 30px;
  margin: 0 auto;
}

.feature {
  margin-bottom: 60px;
  padding: 0px 20px;
}

.icon {
  display: block;
  padding: 10px 10px;
  margin: 0 auto 10px;
  height: 80px;
  font-weight: 400;
}

h2 {
  font-size: 18px;
  padding: 10px 0;
  text-align: center;
}

/* PRODUCTIVE STYLING ---- */

#productivity {
  width: 100%;
  padding: 60px 30px;
}

#productivity img {
  width: 100%;
}
#productivity h2,
#productivity p {
  text-align: left;
}

#productivity p {
  margin: 15px 0;
  line-height: 150%;
}

#productivity a:link,
#productivity a:hover,
#productivity a:active,
#productivity a:visited {
  font-size: 90%;
  text-decoration: none;
  color: hsl(176, 68%, 64%);
  letter-spacing: 0.3px;
  border-bottom: 1px solid hsl(176, 68%, 64%);
  padding-bottom: 4px;
}
#productivity a img {
  height: 16px;
  width: auto;
  margin-bottom: -3px;
}

/* TESTIMONIES STYLING ---- */

#testimonials {
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
}

.testimony {
  background-color: hsl(219, 30%, 18%);
  width: 75%;
  margin: 20px auto;
  border-radius: 5px;
}

.quote-icon {
  height: 18px;
  margin: 0 0 -22px 53px;
}

blockquote {
  font-size: 10px;
  letter-spacing: 0.33px;
  line-height: 180%;
  font-family: "Open Sans", sans-serif;
  padding: 20px;
  font-weight: 400;
}

cite {
}
cite img {
  height: 25px;
  width: auto;
  border-radius: 100%;
  float: left;
  margin-left: 20px;
}

.user {
  float: left;
  margin-left: 10px;
  padding-bottom: 20px;
}
.user-name,
.user-title {
  text-align: left;
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}
.user-title {
  font-size: 8px;
}

.user-name {
  font-weight: 700;
}

/* EARLY ACCESS STYLING ---- */

#early-access {
  padding: 70px 0;
}

#early-access p {
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.5px;
  font-family: "Open Sans", sans-serif;
  padding: 10px 30px;
}

#early-access form {
  margin: 0 auto;
  display: block;
}

#early-access input {
  display: block;
  padding: 18px 20px;
  width: 80%;
  text-align: left;
  margin: 20px auto;
  border-radius: 25px;
}

#early-access input[type="text"] {
  font-size: 10px;
  border: 1px solid transparent;
}
#early-access input[type="text"]::placeholder {
  color: #ccc;
}

#early-access input[type="submit"] {
  font-size: 14px;
  width: 80%;
  border: 1px solid transparent;
}

/* FOOTER STYLING ---- */

footer {
  padding: 30px;
}

/* ---------------------- */
/* LAPTOP STYLING ------- */
/* ---------------------- */

@media only screen and (min-width: 425px) {
  body {
    max-width: 1000px;
    margin: 0 auto;
  }

  .feature {
    padding: 0px 50px;
  }
}
