/* ! FONTS */
/* ? Headings, Call-to-actions, Header Navigation */
/* * font-family: 'Raleway', sans-serif; */
/* ? Body */
/* * font-family: 'Open Sans', sans-serif; */

:root {
    --heading-font: 'Raleway', sans-serif;
    --body-font: 'Open Sans', sans-serif;
    
    --intro-bg: hsl(217, 28%, 15%);
    --main-bg: hsl(218, 28%, 13%);
    --footer-bg: hsl(216, 53%, 9%)
    --testimonials-bg: hsl(219, 30%, 18%);
    
    --cyan: hsl(176, 68%, 64%);
    --blue: hsl(198, 60%, 50%);
    --error: hsl(0, 100%, 63%);
    --white: hsl(0, 0%, 100%);
}

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin:0;
}


html {
    font-size: 16px;
    font-family: var(--body-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}


body {
    background-color: var(--main-bg);
    color: var(--white);
}

.intro {
    background-color: var(--intro-bg);
}

